* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabezita {
    text-align: center;
    padding: 30px;
    color: aquamarine;
    background-color: crimson;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.row {
    border-radius: 15px;
    font-weight: bold;
    width: 290px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    border: solid 1px black;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.575);
}

.row h3 {
    color: white;
    background-color: rgb(32, 0, 137);
    padding: 20px;
}

.row button {
    margin-top: 20px;
}